@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme colors */
  :root {
    /* Backgrounds */
    --bg-body: #eeeeee;
    --bg-header: #ffff;
    --bg-sidebar: #ffff;
    --bg-modal: #ffff;
    --bg-input: #f2f2f2;
    --bg-tabs: #f4f4f5;
    --bg-tab: #ffff;
    /* Text */
    --text-primary: #5c5a5a;
    --text-secondary: #767676;
    /* Icons */
    --icon-primary: #606060;
    /* Borders */
    --border-primary: rgba(0, 0, 0, 0.1);
    /* Active */
    --active-sidebarLink: #c00;
  }

  /* Dark theme colors */
  :root[class~="dark"] {
    /* Backgrounds */
    --bg-body: #1f1f1f;
    --bg-header: #282828;
    --bg-sidebar: #282828;
    --bg-modal: #1b1c20;
    --bg-input: #16151a;
    --bg-tabs: #27272a;
    --bg-tab: #09090b;
    /* Text */
    --text-primary: #f1f0f0;
    --text-secondary: #aaa;
    /* Icons */
    --icon-primary: #aaa;
    /* Borders */
    --border-primary: rgba(255, 255, 255, 0.1);
    /* Active */
    --active-sidebarLink: #c00;
  }
}

body,
html,
input {
  font-size: 14px;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1em;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 200px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 12px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

video {
  object-fit: cover !important;
}
