@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme colors */
  :root {
    /* Backgrounds */
    --bg-body: #eeeeee;
    --bg-header: #ffff;
    --bg-sidebar: #ffff;
    --bg-modal: #ffff;
    --bg-input: #f2f2f2;
    /* Text */
    --text-primary: #5c5a5a;
    --text-secondary: #767676;
    /* Icons */
    --icon-primary: #606060;
    /* Borders */
    --border-primary: rgba(0, 0, 0, 0.1);
    /* Active */
    --active-sidebarLink: #c00;
  }

  /* Dark theme colors */
  :root[class~="dark"] {
    /* Backgrounds */
    --bg-body: #1f1f1f;
    --bg-header: #282828;
    --bg-sidebar: #282828;
    --bg-modal: #1b1c20;
    --bg-input: #16151a;
    /* Text */
    --text-primary: #f1f0f0;
    --text-secondary: #aaa;
    /* Icons */
    --icon-primary: #aaa;
    /* Borders */
    --border-primary: rgba(255, 255, 255, 0.1);
    /* Active */
    --active-sidebarLink: #c00;
  }
}

body,
html,
input {
  font-size: 14px;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1em;
  }
}
